$color_white: (
  '_a': #FFFFFF,
  '_b': #F2F8FD,
  '_c': #E9F1FA,
);

$color_gray: (
  '_a': #B4BCC4,
  '_b': #B6BDCB,
  '_c': rgba(255, 255, 255, 0.6),
  '_d': rgba(255, 255, 255, 0.49),
  '_e': rgba(255, 255, 255, 0.32),
);

$color_black: (
  '_a': #000000,
);

$color_yellow: (
  '_a': #F9D44A,
  '_b': #FFC85E,
  '_c': #FEC75E,
  '_d': #FEC65C,
  '_e': #efb300,
  '_f': #FF7F5C,
);

$color_main: (
  '_a': #18333E,
);
