#--header {
  padding: 30px 60px;

  .logo-title {
    font-size: 32px;
    font-weight: 600;
  }
  
  > div {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    .filters-tab {
      display: flex;
      gap: 22px;
    }
  }
}

@media screen and (max-width: 860px) {
  #--header {
    padding: 20px 40px;
  }
}

@media screen and (max-width: 660px) {
  #--header {
    padding: 20px;
  }
}

@media screen and (max-width: 480px) {
  #--header {
    padding: 20px 10px;
  }
}